/* Menu de productos */
.submenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 167px;
    left: 0;
    color: #fff;
    padding: 30px 5px;
    ul{
      padding-left: 0;
      li{
        margin: 10px 0;
        padding: 20px 50px;
        background-color: $menu-productos;
        border-radius: 40px;
        text-align: center;
        list-style-type: none;
        a{
          color: #000;
          text-decoration: none;
        }
      }
    }
  }
  

  /* ---------------------------------------- */
  /* Contenido Página productos */
  #main {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 25%;
    gap: 30px;
    color: #fff;
    .productosTitulo{
      font-size: 3rem;
      font-weight: 800;
    }
    .productos{
      display: flex;
      flex-direction: column;
      gap: 15px;
      color: #fff;
      width: 70vw;
      margin-bottom: 20px;
      div{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-end;
        height: 31rem;
        overflow: hidden;
        border: 2px solid #000;
        border-radius: 10px;
        box-shadow: 2px 2px 50px #000;
        h3{
          font-size: 40px;
          text-shadow: 0 0 10px #000;
        }
        img{
          object-fit: cover;
          width: 50vw;
          align-self: stretch;
        }
      }
    }
  }
  
