@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5F5F5;
  /* font-family: sans-serif; */
  font-family: "Secular One", sans-serif;
}

/* Fondo background */
.box {
  background-image: linear-gradient(rgba(5, 7, 12, 0.87), rgba(5, 7, 12, 0.87)), url(../pictures/Logo2.png);
  background-repeat: repeat;
  background-size: 900px;
}

/*============================HEADER===================================*/
/*Menu de navegación y logo*/
#Header {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #405163;
  height: 70px;
  width: 100%;
  z-index: 999;
  justify-content: space-between;
}
#Header .Header__logo {
  font-family: "Inspiration", cursive;
  font-size: 50px;
  color: #F5F5F5;
  padding: 0 20px;
  line-height: 1.2;
  text-shadow: 2px 2px 2px #000;
}
#Header .Header__logo a {
  text-decoration: none;
}
#Header .Header__logo a:visited {
  color: #F5F5F5;
}
#Header .Header__nav img, #Header .Header__nav input {
  display: none;
  visibility: hidden;
}
#Header .Header__nav .Header__menu {
  margin-right: 30px;
  padding-left: 0;
}
#Header .Header__nav .Header__menu li {
  display: inline-block;
  list-style: none;
  font-size: 20px;
  padding: 20px;
}
#Header .Header__nav .Header__menu li a {
  text-decoration: none;
  color: #F5F5F5;
  transition: padding 0.5s;
}
#Header .Header__nav .Header__menu li a:hover {
  padding: 10px;
  text-decoration: underline;
  transform: scale(2);
}

/* --------------------------------------------------------------------*/
/*=============================FOOTER===================================*/
.gridContainer {
  display: grid;
  height: 200px;
  border-top: 2px solid #F5F5F5;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

#footer {
  background-color: #405163;
  color: #fff;
}
#footer div .redes p {
  font-size: 2rem;
}
#footer div .redes ul {
  display: flex;
  gap: 15px;
  padding-left: 0;
}
#footer div .redes ul li {
  list-style: none;
}
#footer div .logoFooter {
  grid-row: 1/2;
  grid-column: 3/4;
  font-family: "Inspiration", cursive;
  font-size: 100px;
  color: #fff;
  padding: 0 20px;
  text-shadow: 2px 2px 2px #000;
}
#footer .autor {
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: flex-end;
  border: 2px double #F5F5F5;
  width: 190px;
}
#footer .autor p {
  padding: 20px;
}

/* Imagen principal con eslogan*/
.accessDirect {
  display: flex;
  justify-content: flex-start;
  background-image: url(../pictures/stollen-prueba4.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 95vh;
}
.accessDirect__eslogan {
  margin: 5% 5%;
}
.accessDirect__eslogan h1 {
  font-family: "Secular One", sans-serif;
  font-size: 3rem;
  font-weight: 800;
  color: #F5F5F5;
}
.accessDirect__eslogan h1 span {
  display: block;
  font-size: 4rem;
}
.accessDirect__eslogan .accessDirect__botones {
  margin-top: 20px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  padding-left: 0;
}
.accessDirect__eslogan .accessDirect__botones li {
  list-style-type: none;
  margin-bottom: 20px;
}
.accessDirect__eslogan .accessDirect__botones li a {
  color: #F5F5F5;
  text-decoration: none;
  background-color: #405163;
  font-size: 1.5rem;
  border-radius: 70px;
  padding: 20px;
  font-weight: 800;
  box-shadow: 2px 2px 5px black;
}
.accessDirect__eslogan .accessDirect__botones li a .icon {
  filter: invert(100%);
  position: relative;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  box-shadow: none;
}

.delivery {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: flex-start;
  background-color: #F5F5F5;
  gap: 50px;
  margin: 50px;
}
.delivery div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.2rem;
}
.delivery div div {
  background-color: #405163;
  border-radius: 100%;
  width: 10rem;
  height: 10rem;
}
.delivery div div .invert {
  filter: invert(100%);
}
.delivery .arrow {
  align-self: center;
}
.delivery img {
  width: 4rem;
  border-radius: 100%;
}

.backAnotherWhite {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
  background-color: #F5F5F5;
  padding: 30px 0;
}

.backAnotherBlue {
  display: flex;
  flex-wrap: wrap-reverse;
  background-color: #405163;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 2px 2px 5px 5px black;
  color: #fff;
  padding: 30px 0;
}

.backAnotherBlue div, .backAnotherWhite div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: center;
}
.backAnotherBlue div p, .backAnotherWhite div p {
  font-size: 1.2rem;
  text-align: justify;
}
.backAnotherBlue div h3, .backAnotherWhite div h3 {
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 40px;
}
.backAnotherBlue img, .backAnotherWhite img {
  position: relative;
  width: 500px;
}
.backAnotherBlue h3.locales, .backAnotherWhite h3.locales {
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  padding: 30px;
}
.backAnotherBlue h3.locales a, .backAnotherWhite h3.locales a {
  color: #F5F5F5;
}
.backAnotherBlue h3.locales a:visited, .backAnotherWhite h3.locales a:visited {
  color: #F5F5F5;
}

/* ========================================================================= */
/* Menu de productos */
.submenu {
  /* background-color: #405163; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 167px;
  left: 0;
  color: white;
  padding: 30px 5px;
}

.submenu ul {
  padding-left: 0;
}

.submenu li {
  margin: 10px 0;
  padding: 20px 50px;
  background-color: #e9f4f6;
  border-radius: 40px;
  text-align: center;
  list-style-type: none;
}

.submenu li a {
  color: #000;
  text-decoration: none;
}

/* ---------------------------------------- */
/* Contenido Página productos */
#main {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-left: 25%;
  gap: 30px;
  color: #fff;
}

.productos {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #fff;
  width: 70vw;
  margin-bottom: 20px;
}

.productos div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;
  height: 31rem;
  overflow: hidden;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 2px 2px 50px black;
}

.productos div h3 {
  font-size: 40px;
  text-shadow: 0 0 10px black;
}

.productos div img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 50vw;
  align-self: stretch;
}

.productosTitulo {
  font-size: 3rem;
  font-weight: 800;
}

/*==========================Página Promociones=================================*/
.gridContainerMain {
  display: grid;
  grid-template-rows: 70px auto auto auto;
  gap: 0;
}

.combos {
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
}

.combos h2 {
  color: #fff;
  font-size: 3rem;
  margin: 30px 0;
  font-family: "Secular One", sans-serif;
}

.combos .combos__contenedor {
  background-color: #F5F5F5;
}

.combos .combos__contenedor div {
  margin: 20px 0;
  height: 25%;
  overflow: hidden;
}

.combos .combos__contenedor h3 {
  font-size: 2rem;
}

.combos .combos__contenedor img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/*==========================Página Sucursales=================================*/
.titulo {
  color: #fff;
  padding: 30px;
  font-weight: 800;
  text-align: center;
  font-family: "Secular One", sans-serif;
  font-size: 3rem;
}

.titulo--absolute {
  position: absolute;
  text-shadow: 0 0 10px #000;
  right: 0;
  left: 0;
  z-index: 100;
}

.ubicacion {
  display: flex;
  flex-wrap: wrap;
  background-color: #F5F5F5;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
  padding: 20px 0;
}

.ubicacion__informacion h3 {
  font-size: 30pt;
}

.ubicacion--derecha {
  flex-direction: row-reverse;
}

.ubicacion__informacion h3 {
  margin: 20px 0;
}

.ubicacion__imagen {
  border: 2px solid black;
  width: 31rem;
  height: 25rem;
}

/*==========================Página Contacto=================================*/
.formulario {
  background-color: #F5F5F5;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: 80vw;
  padding: 50px;
  border-radius: 40px;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 0 0 15px #000;
}

.formulario__imagen {
  background-color: #405163;
  border: 2px solid black;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  font-family: "Inspiration", cursive;
  font-size: 100pt;
  padding: 30px;
  margin: 50px;
}

.formulario__imagen p {
  position: relative;
  right: 100px;
}

.btn-custom-form {
  color: #fff;
  background-color: #405163;
  border-radius: 0.375rem;
  border: none;
  height: 2.5rem;
}

.form-control:focus {
  border: 2px solid #405163;
  box-shadow: 0 0 10px #283542;
}

button.btn-custom-form:hover {
  background-color: #283542;
  box-shadow: 0 0 10px #283542;
}

@media screen and (max-width: 991px) {
  /*=======================Página Inicio=========================*/
  #Header .Header__nav {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    align-items: center;
    z-index: 999;
  }
  #Header .Header__nav img {
    display: block;
    visibility: visible;
    width: 40px;
    margin-right: 20px;
    z-index: 1;
    filter: invert(100%);
  }
  #Header .Header__nav input[type=checkbox] {
    display: block;
    visibility: visible;
    position: absolute;
    height: 40px;
    width: 40px;
    z-index: 999;
    margin-right: 20px;
    opacity: 0;
  }
  #Header .Header__nav input:checked + .Header__menu {
    top: 55px;
    transition: 0.5s;
  }
  #Header .Header__nav .Header__menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    top: -1000px;
    width: 30vw;
    background-color: #405163;
    transition: 0.5s;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 0 10px #405163;
  }
  #Header .Header__nav .Header__menu li {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
  }
  #Header .Header__nav .Header__menu li:hover {
    background-color: #F5F5F5;
  }
  #Header .Header__nav .Header__menu li:hover a {
    color: #405163;
  }
  /*==========Página Inicio=============*/
  .accessDirect {
    background-image: linear-gradient(rgba(5, 7, 12, 0.7), rgba(5, 7, 12, 0.7)), url(../pictures/screen-850-prueba2.jpg);
    background-size: cover;
  }
  .accessDirect .accessDirect__eslogan h1 {
    font-family: "Secular One", sans-serif;
    font-size: 3rem;
  }
  .accessDirect .accessDirect__eslogan h1 span {
    display: block;
    font-size: 4rem;
  }
  .delivery {
    display: flex;
    flex-direction: column;
    text-align: justify;
  }
  .delivery div img.rotateArrow {
    transform: rotate(90deg);
  }
  .backAnotherBlue div, .backAnotherWhite div {
    text-align: justify;
    width: 100%;
    padding: 30px 0;
  }
  .backAnotherBlue div h3, .backAnotherWhite div h3 {
    font-size: 2.5rem;
  }
  .backAnotherBlue div p, .backAnotherWhite div p {
    padding: 0 30px;
  }
  .backAnotherBlue img, .backAnotherWhite img {
    width: 100%;
  }
  /*========================================================================*/
  /*=======================Página productos=========*/
  #main {
    margin-left: 0;
  }
  .productos {
    width: 100%;
  }
  .productos div {
    height: 25rem;
  }
  .productos div h3 {
    position: absolute;
  }
  .productos div img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .submenu {
    display: none;
  }
  /*================================================================*/
  /*===================Página Sucursales=============================*/
  .ubicacion {
    padding: 0;
  }
  .ubicacion__imagen img {
    width: 100%;
  }
  /*================================================================*/
  /*===================Página Contacto=============================*/
  .formulario {
    width: 100vw;
    margin: 0;
    margin-bottom: 20px;
  }
  /*====================================================================================*/
}
@media screen and (max-width: 767px) {
  /*==================HEADER===============*/
  #Header .Header__nav .Header__menu {
    width: 100vw;
    margin: 0;
    margin-right: 0;
  }
  #Header .Header__nav .Header__menu li a:hover {
    text-decoration: none;
    color: #405163;
  }
  .titulo {
    font-size: 2rem;
    padding: 10px;
  }
  /*=========================FOOTER===========================*/
  .gridContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 300px;
  }
  #footer .logoFooter {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #footer .autor {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .gridContainer div:first-child {
    justify-self: flex-start;
  }
}
@media screen and (max-width: 578px) {
  .accessDirect {
    background-image: linear-gradient(rgba(5, 7, 12, 0.7), rgba(5, 7, 12, 0.7)), url(../pictures/screen-850-prueba3.jpg);
    background-size: cover;
  }
  .backAnotherBlue h3.locales {
    font-size: 2rem;
    text-align: justify;
    padding: 0 20px;
    margin-bottom: 30px;
  }
  .productos div {
    height: 19rem;
  }
}
/*==================================================================*//*# sourceMappingURL=main.css.map */