@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000;
  /* font-family: sans-serif; */
  font-family: "Secular One", sans-serif;
}

/* Fondo background */
.box {
  background-image: linear-gradient(rgba(5, 7, 12, 0.87), rgba(5, 7, 12, 0.87)), url(../pictures/Logo2.png);
  background-repeat: repeat;
  background-size: 900px;
}

/*============================HEADER===================================*/
/*Menu de navegación y logo*/
#Header {
  position: sticky;
  top: 0;
  background-image: linear-gradient(90deg, rgb(100, 130, 200) 0%, rgb(75, 90, 150) 0%, rgb(64, 81, 99) 59%);
  height: 70px;
  width: 100%;
  z-index: 999;
}
#Header div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
#Header div .Header__logo {
  font-family: "Inspiration", cursive;
  font-size: 50px;
  color: #F4F4F4;
  padding: 0 20px;
  line-height: 1.2;
  text-shadow: 2px 2px 2px #000;
}
#Header div .Header__logo a {
  text-decoration: none;
}
#Header div .Header__logo a:visited {
  color: #F4F4F4;
}
#Header div .Header__logo a:link {
  color: #F4F4F4;
}
#Header div .Header__nav img, #Header div .Header__nav input {
  display: none;
  visibility: hidden;
}
#Header div .Header__nav .Header__menu {
  margin-right: 30px;
  padding-left: 0;
}
#Header div .Header__nav .Header__menu li {
  display: inline-block;
  list-style: none;
  font-size: 1rem;
  padding: 20px;
}
#Header div .Header__nav .Header__menu li a {
  text-decoration: none;
  color: #F4F4F4;
  transition: padding 0.5s;
}
#Header div .Header__nav .Header__menu li a:hover {
  padding: 10px;
  text-decoration: underline;
  transform: scale(2);
}

/* --------------------------------------------------------------------*/
/*=============================FOOTER===================================*/
#footer {
  background-image: linear-gradient(90deg, rgb(100, 130, 200) 0%, rgb(75, 90, 150) 0%, rgb(64, 81, 99) 59%);
  color: #fff;
  border-top: 5px solid #F4F4F4;
}
#footer div {
  max-width: 1200px;
  margin: auto;
}
#footer div .redes p {
  font-size: 2rem;
}
#footer div .redes ul {
  display: flex;
  gap: 15px;
  padding-left: 0;
}
#footer div .redes ul li {
  list-style: none;
}
#footer div .redes ul li a img {
  width: 40px;
}
#footer div .logoFooter {
  grid-row: 1/2;
  grid-column: 3/4;
  font-family: "Inspiration", cursive;
  font-size: 100px;
  color: #fff;
  padding: 0 20px;
  text-shadow: 2px 2px 2px #000;
}
#footer .autor {
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: flex-end;
  border: 2px double #F4F4F4;
  width: 190px;
}
#footer .autor p {
  padding: 20px;
}

/* Imagen principal con eslogan*/
.accessDirect .accessDirect__content {
  height: 95vh;
  display: flex;
  justify-content: flex-start;
  background-image: url(../pictures/stollen-prueba4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.accessDirect .accessDirect__content .accessDirect__eslogan {
  margin: 5% 5%;
}
.accessDirect .accessDirect__content .accessDirect__eslogan h1 {
  font-family: "Secular One", sans-serif;
  font-size: 3rem;
  font-weight: 800;
  color: #F4F4F4;
}
.accessDirect .accessDirect__content .accessDirect__eslogan h1 span {
  display: block;
  font-size: 4rem;
}
.accessDirect .accessDirect__content .accessDirect__eslogan .accessDirect__botones {
  margin-top: 20px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  padding-left: 0;
}
.accessDirect .accessDirect__content .accessDirect__eslogan .accessDirect__botones li {
  list-style-type: none;
  margin-bottom: 20px;
  transition: all 0.2s;
}
.accessDirect .accessDirect__content .accessDirect__eslogan .accessDirect__botones li a {
  color: #000;
  text-decoration: none;
  background-color: #F4F4F4;
  font-size: 1.5rem;
  border-radius: 70px;
  padding: 20px;
  font-weight: 800;
  box-shadow: 2px 2px 5px black;
}
.accessDirect .accessDirect__content .accessDirect__eslogan .accessDirect__botones li a .icon {
  position: relative;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  box-shadow: none;
}
.accessDirect .accessDirect__content .accessDirect__eslogan .accessDirect__botones li:hover {
  transform: scale(110%);
}

.delivery {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: flex-start;
  gap: 50px;
  padding: 50px;
}
.delivery div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.2rem;
}
.delivery div div {
  background-image: linear-gradient(90deg, rgb(100, 130, 200) 0%, rgb(75, 90, 150) 0%, rgb(64, 81, 99) 59%);
  border-radius: 100%;
  width: 10rem;
  height: 10rem;
}
.delivery div div .invert {
  filter: invert(100%);
}
.delivery div p {
  text-align: justify;
  width: 12.5rem;
  color: #393939;
}
.delivery .arrow {
  align-self: center;
}
.delivery img {
  width: 4rem;
  border-radius: 100%;
}

.backAnotherWhite {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0;
  margin: 0 20px;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(173, 185, 201, 0.3);
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
  background-color: #F4F4F4;
}

.backAnotherBlue {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0;
  margin: 0 20px;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(173, 185, 201, 0.3);
  flex-wrap: wrap-reverse;
  background-color: #F4F4F4;
}

.backAnotherBlue div, .backAnotherWhite div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: center;
}
.backAnotherBlue div p, .backAnotherWhite div p {
  font-size: 1.2rem;
  text-align: center;
  color: #393939;
  text-align: justify;
}
.backAnotherBlue div h3, .backAnotherWhite div h3 {
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 40px;
  color: #010101;
}
.backAnotherBlue img, .backAnotherWhite img {
  position: relative;
  width: 500px;
}
.backAnotherBlue h3.locales, .backAnotherWhite h3.locales {
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  padding: 30px;
  color: #393939;
}
.backAnotherBlue h3.locales a, .backAnotherWhite h3.locales a {
  color: #010101;
}
.backAnotherBlue h3.locales a:visited, .backAnotherWhite h3.locales a:visited {
  color: #010101;
}

/* ========================================================================= */
/* Menu de productos */
.submenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 167px;
  left: 0;
  padding: 30px 5px;
}
.submenu ul {
  padding-left: 0;
}
.submenu ul li {
  margin: 10px 0;
  padding: 20px 50px;
  background-color: #F4F4F4;
  border-radius: 40px;
  text-align: center;
  list-style-type: none;
  transform: all 0.2s;
}
.submenu ul li:hover {
  transform: scale(110%);
}
.submenu ul li a {
  color: #000;
  text-decoration: none;
}

/* ---------------------------------------- */
/*Titulo*/
.productTitle {
  background-image: linear-gradient(rgba(5, 7, 12, 0.87), rgba(5, 7, 12, 0.87)), url(../pictures/Logo2.png);
  background-size: 55rem;
}

/* Contenido Página productos */
#main {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-left: 20%;
  margin-right: 5%;
  gap: 30px;
}
#main .productosTitulo {
  font-size: 3rem;
  font-weight: 800;
}
#main .productos {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr, 1fr, 1fr, 1fr;
  grid-auto-rows: 16rem;
  margin-bottom: 20px;
}
#main .productos div {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.7s;
}
#main .productos div:nth-child(1) {
  grid-row: 1/3;
  grid-column: 1/3;
}
#main .productos div:nth-child(2) {
  grid-row: 1/2;
  grid-column: 3/4;
}
#main .productos div:nth-child(3) {
  grid-row: 2/3;
  grid-column: 3/4;
}
#main .productos div:nth-child(4) {
  grid-row: 3/4;
  grid-column: 2/4;
}
#main .productos div:nth-child(5) {
  grid-row: 3/4;
  grid-column: 1/2;
}
#main .productos div:nth-child(6) {
  grid-row: 4/5;
  grid-column: 1/4;
}
#main .productos div:hover {
  transform: scale(110%);
  z-index: 100;
  box-shadow: 0 5px 19px rgba(128, 128, 128, 0.5);
}
#main .productos div h3 {
  font-size: 2.5rem;
  position: absolute;
  right: 1rem;
  bottom: 0;
  font-size: 40px;
  color: #fff;
  text-shadow: 0 0 10px black;
}
#main .productos div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/*==========================Página Promociones=================================*/
.gridContainerMain {
  display: grid;
  grid-template-rows: 70px auto auto auto;
  gap: 0;
}

.combos {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 30px;
  text-align: center;
}
.combos h2 {
  color: #fff;
  font-size: 3rem;
  margin: 30px 0;
  font-family: "Secular One", sans-serif;
}
.combos .combos__background {
  padding: 0.8rem;
}
.combos .combos__background .combos__contenedor {
  background-color: #F4F4F4;
}
.combos .combos__background .combos__contenedor div {
  margin: 20px 0;
  height: 25%;
  overflow: hidden;
}
.combos .combos__background .combos__contenedor div h3 {
  font-size: 2rem;
  color: #010101;
}
.combos .combos__background .combos__contenedor div p {
  color: #393939;
  text-align: justify;
  height: 100px;
}
.combos .combos__background .combos__contenedor div img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/*==========================Página Sucursales=================================*/
.titulo {
  color: #fff;
  padding: 30px;
  font-weight: 800;
  text-align: center;
  font-family: "Secular One", sans-serif;
  font-size: 3rem;
}

.titulo--absolute {
  position: absolute;
  text-shadow: 0 0 10px #000;
  right: 0;
  left: 0;
  z-index: 100;
}

.ubicacion {
  display: flex;
  flex-wrap: wrap;
  background-color: #F4F4F4;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
  padding: 20px 0;
}
.ubicacion .ubicacion__informacion h3 {
  font-size: 2.5rem;
  margin: 20px 0;
  color: #010101;
}
.ubicacion .ubicacion__informacion p, .ubicacion .ubicacion__informacion ul {
  color: #393939;
}
.ubicacion .ubicacion__imagen {
  width: 31rem;
  height: 25rem;
}

.ubicacion--derecha {
  flex-direction: row-reverse;
}

/*==========================Página Contacto=================================*/
.formulario {
  background-color: #F4F4F4;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: 80vw;
  padding: 50px;
  border-radius: 40px;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 0 0 15px #000;
  max-width: 1200px;
}
.formulario .formulario__imagen {
  background-color: #405163;
  border: 2px solid #000;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  font-family: "Inspiration", cursive;
  font-size: 100pt;
  padding: 30px;
  margin: 50px;
}
.formulario .formulario__imagen p {
  position: relative;
  right: 100px;
}

.btn-custom-form {
  color: #fff;
  background-color: #405163;
  border-radius: 0.375rem;
  border: none;
  height: 2.5rem;
}

.form-control:focus {
  border: 2px solid #405163;
  box-shadow: 0 0 10px #283542;
}

button.btn-custom-form:hover {
  background-color: #283542;
  box-shadow: 0 0 10px #283542;
}

@media screen and (min-width: 1200px) {
  #Header div {
    max-width: 1200px;
    margin: 0 auto;
  }
  #Header div .Header__logo {
    margin: 0;
  }
  .accessDirect {
    background-color: #020202;
  }
  .accessDirect .accessDirect__content {
    max-width: 1920px;
    margin: 0 auto;
  }
  .carouselCustom {
    background-color: #020202;
  }
  .carouselCustom .carousel {
    max-width: 1200px;
    margin: 0 auto;
  }
  .delivery, .backAnotherBlue, .backAnotherWhite {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 20px;
  }
  /*=======================Página Productos=========================*/
  #main {
    margin-left: 230px;
    margin-right: 50px;
  }
  #main section {
    max-width: 1200px;
    margin: 0 auto;
  }
  /*=======================Página Promociones=========================*/
  .combos .combos__background {
    background-color: #f4f4f4;
  }
  .combos .combos__background .combos__contenedor {
    max-width: 1200px;
    margin: 0 auto;
  }
  /*=======================Página sucursales=========================*/
  main .ubicacion__background {
    background-color: #f4f4f4;
  }
  main .ubicacion__background .ubicacion {
    max-width: 1200px;
    margin: 20px auto;
  }
}
@media screen and (max-width: 991px) {
  /*=======================Página Inicio=========================*/
  #Header div {
    align-items: stretch;
  }
  #Header div .Header__nav {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    align-items: center;
    z-index: 999;
  }
  #Header div .Header__nav img {
    display: block;
    visibility: visible;
    width: 40px;
    margin-right: 20px;
    z-index: 1;
    filter: invert(100%);
  }
  #Header div .Header__nav input[type=checkbox] {
    display: block;
    visibility: visible;
    position: absolute;
    height: 40px;
    width: 40px;
    z-index: 999;
    margin-right: 20px;
    opacity: 0;
  }
  #Header div .Header__nav input:checked + .Header__menu {
    top: 75px;
    transition: 0.5s;
  }
  #Header div .Header__nav .Header__menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    top: -1000px;
    width: 30vw;
    background-image: linear-gradient(90deg, rgb(100, 130, 200) 0%, rgb(75, 90, 150) 0%, rgb(64, 81, 99) 59%);
    transition: 0.5s;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 0 10px #405163;
  }
  #Header div .Header__nav .Header__menu li {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
  }
  #Header div .Header__nav .Header__menu li:hover {
    background-color: #F4F4F4;
  }
  #Header div .Header__nav .Header__menu li:hover a {
    color: #405163;
  }
  /*==========Página Inicio=============*/
  .accessDirect {
    background-image: linear-gradient(rgba(5, 7, 12, 0.7), rgba(5, 7, 12, 0.7)), url(../pictures/screen-850-prueba2.jpg);
    background-size: cover;
  }
  .accessDirect .accessDirect__content .accessDirect__eslogan h1 {
    font-family: "Secular One", sans-serif;
    font-size: 3rem;
  }
  .accessDirect .accessDirect__content .accessDirect__eslogan h1 span {
    display: block;
    font-size: 4rem;
  }
  .delivery {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }
  .delivery div img.rotateArrow {
    transform: rotate(90deg);
  }
  .backAnotherBlue, .backAnotherWhite {
    padding: 0;
  }
  .backAnotherBlue div, .backAnotherWhite div {
    text-align: justify;
    width: 100%;
    padding: 30px 0;
  }
  .backAnotherBlue div h3, .backAnotherWhite div h3 {
    font-size: 2.5rem;
  }
  .backAnotherBlue div p, .backAnotherWhite div p {
    padding: 0 30px;
  }
  .backAnotherBlue img, .backAnotherWhite img {
    width: 100%;
  }
  /*========================================================================*/
  /*=======================Página productos=========*/
  #Header .submenu {
    display: none;
  }
  #main {
    margin-left: 0;
    margin-right: 0;
  }
  #main .productos {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-bottom: 20px;
  }
  #main .productos div {
    overflow: hidden;
    border-radius: 20px;
    height: 25rem;
    color: #F4F4F4;
  }
  #main .productos div:hover {
    transform: none;
    box-shadow: none;
  }
  #main .productos div h3 {
    position: absolute;
    text-shadow: 0 0 10px black;
  }
  #main .productos div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /*================================================================*/
  /*===================Página Sucursales=============================*/
  .ubicacion {
    padding: 0;
  }
  /*================================================================*/
  /*===================Página Contacto=============================*/
  .formulario {
    width: 100vw;
    margin: 0;
    margin-bottom: 20px;
  }
}
/*====================================================================================*/
@media screen and (max-width: 767px) {
  /*==================HEADER===============*/
  #Header div .Header__nav .Header__menu {
    width: 100vw;
    margin: 0;
    margin-right: 0;
  }
  #Header div .Header__nav .Header__menu li a:hover {
    text-decoration: none;
    color: #405163;
  }
  .titulo {
    font-size: 2rem;
    padding: 10px;
  }
  /*=========================FOOTER===========================*/
  #footer div .logoFooter {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #footer .autor {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
@media screen and (max-width: 578px) {
  .accessDirect .accessDirect__content {
    background-image: linear-gradient(rgba(5, 7, 12, 0.7), rgba(5, 7, 12, 0.7)), url(../pictures/screen-850-prueba3.jpg);
    background-size: cover;
  }
  .backAnotherBlue h3.locales {
    font-size: 2rem;
    text-align: justify;
    padding: 10px 20px;
  }
  .productos div {
    height: 19rem;
  }
  .formulario .formulario__imagen p {
    font-size: 7rem;
    right: 80px;
  }
}
/*==================================================================*/
/*GALAXY FOLD  o telefonos plegables*/
@media screen and (max-width: 300px) {
  .formulario .formulario__imagen p {
    font-size: 6rem;
    right: 60px;
  }
}

/*# sourceMappingURL=main.css.map */
